In [203]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib

In [204]:
df1 = pd.read_csv('heart_2020_cleaned.csv')

In [205]:
df1.shape

(319795, 18)

In [206]:
df1.head()

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
0,No,16.60,Yes,No,No,3.0,30.0,No,Female,55-59,White,Yes,Yes,Very good,5.0,Yes,No,Yes
1,No,20.34,No,No,Yes,0.0,0.0,No,Female,80 or older,White,No,Yes,Very good,7.0,No,No,No
2,No,26.58,Yes,No,No,20.0,30.0,No,Male,65-69,White,Yes,Yes,Fair,8.0,Yes,No,No
3,No,24.21,No,No,No,0.0,0.0,No,Female,75-79,White,No,No,Good,6.0,No,No,Yes
4,No,23.71,No,No,No,28.0,0.0,Yes,Female,40-44,White,No,Yes,Very good,8.0,No,No,No

In [207]:
df1.isna().sum()

HeartDisease        0
BMI                 0
Smoking             0
AlcoholDrinking     0
Stroke              0
PhysicalHealth      0
MentalHealth        0
DiffWalking         0
Sex                 0
AgeCategory         0
Race                0
Diabetic            0
PhysicalActivity    0
GenHealth           0
SleepTime           0
Asthma              0
KidneyDisease       0
SkinCancer          0
dtype: int64

In [208]:
df2 = df1.drop(['DiffWalking','SleepTime','MentalHealth','GenHealth'],axis=1)
df2.nunique()

HeartDisease           2
BMI                 3604
Smoking                2
AlcoholDrinking        2
Stroke                 2
PhysicalHealth        31
Sex                    2
AgeCategory           13
Race                   6
Diabetic               4
PhysicalActivity       2
Asthma                 2
KidneyDisease          2
SkinCancer             2
dtype: int64

In [209]:
df2["Race"].unique()

array(['White', 'Black', 'Asian', 'American Indian/Alaskan Native',
       'Other', 'Hispanic'], dtype=object)

In [210]:
df2['Diabetic'].unique()

array(['Yes', 'No', 'No, borderline diabetes', 'Yes (during pregnancy)'],
      dtype=object)

In [211]:
dummies= pd.get_dummies(df2.Race)
dummies.head()

   American Indian/Alaskan Native  Asian  Black  Hispanic  Other  White
0                               0      0      0         0      0      1
1                               0      0      0         0      0      1
2                               0      0      0         0      0      1
3                               0      0      0         0      0      1
4                               0      0      0         0      0      1

In [212]:
dummies2= pd.get_dummies(df2.AgeCategory)
dummies2.head()

,18-24,25-29,30-34,35-39,40-44,45-49,50-54,55-59,60-64,65-69,70-74,75-79,80 or older
0,0,0,0,0,0,0,0,1,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,1,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,1,0,0,0,0,0,0,0,0

In [213]:
df3 = pd.DataFrame()

In [214]:
df2 =df2.mask(df2['Diabetic'] == 'No, borderline diabetes')
df2 =df2.mask(df2['Diabetic'] == 'Yes (during pregnancy)')
df2.dropna(inplace=True)
df2['Diabetic'].unique()

array(['Yes', 'No'], dtype=object)

In [215]:
df3[['HD']] = np.where(df2[['HeartDisease']]=='Yes',1,0)
df3[['physical_health']] = df2[['PhysicalHealth']]
df3[['BMI']] =df2[['BMI']]
df3[['is_smoker']] = np.where(df2[['Smoking']]=='Yes',1,0)
df3[['is_drinker']] = np.where(df2[['AlcoholDrinking']]=='Yes',1,0)
df3[['had_stroke']] = np.where(df2[['Stroke']]=='Yes',1,0)
df3[['is_male']] = np.where(df2[['Sex']]=='Male',1,0)
df3[['is_exercising']] = np.where(df2[['PhysicalActivity']]=='Yes',1,0)
df3[['has_asthma']] = np.where(df2[['Asthma']]=='Yes',1,0)
df3[['has_DB']] = np.where(df2[['Diabetic']]=='Yes',1,0)
df3[['has_KD']] = np.where(df2[['KidneyDisease']]=='Yes',1,0)
df3[['has_SC']] = np.where(df2[['SkinCancer']]=='Yes',1,0)

In [216]:
df3.head(10)

,HD,physical_health,BMI,is_smoker,is_drinker,had_stroke,is_male,is_exercising,has_asthma,has_DB,has_KD,has_SC
0,0,3.0,16.60,1,0,0,0,1,1,1,0,1
1,0,0.0,20.34,0,0,1,0,1,0,0,0,0
2,0,20.0,26.58,1,0,0,1,1,1,1,0,0
3,0,0.0,24.21,0,0,0,0,0,0,0,0,1
4,0,28.0,23.71,0,0,0,0,1,0,0,0,0
5,1,6.0,28.87,1,0,0,0,0,0,0,0,0
6,0,15.0,21.63,0,0,0,0,1,1,0,0,1
7,0,5.0,31.64,1,0,0,0,0,1,1,0,0
8,0,NaN,NaN,0,0,0,1,1,0,0,0,0
9,1,0.0,40.69,1,0,0,1,0,1,1,0,0

In [217]:
df3 = pd.concat([df3,dummies], axis=1)
df3 = pd.concat([df3,dummies2], axis = 1)

In [221]:
df3.dropna(inplace=True)

In [226]:
df3.BMI.describe()

count    301524.000000
mean         28.277012
std           6.339625
min          12.020000
25%          23.960000
50%          27.270000
75%          31.320000
max          94.850000
Name: BMI, dtype: float64